.logo {
    height: 75px;
    width: 193px;
    margin: 30px;
    background: #fcfffd;
    cursor: pointer;
}

.header {
    color: #00b2e1;
    font-family: sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #fcfffd;
    height: 80px;
    margin: 0;
    padding: 0;
    width:100%;
}

.main button {
    padding: 20px 75px;
    background-color: #00b2e1;
    border: none;
    border-radius: 10px;
    cursor : pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #00b2e1ba;
}

.nav_links {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0 15px;
    align-content: space-between;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-align: justify;
}
.nav_links li a:hover {
    color: #00b2e1ba;
}

.nav li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00b2e1;
    text-decoration: none;
}

.events button{
    color: #cdfcff;
    font-size: 32px;
}

.phone {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
}
.phone a {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.mail {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-left: 30px;
}
.mail a {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.contacts {
    vertical-align: center;
}
.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.criteria_list {
    list-style: none;
    font-family: sans-serif;
    margin: 0;
}

.criteria_list li {
    position: relative;
    width: 100%;
    color: #00BAED;
    font-size: 18px;
}

