.logo {
    height: 150px;
    width: 150px;
    margin: 30px;
    background: #cdfcff;
    box-shadow: 0 0 15px 5px #b9f6ff;
    cursor: pointer;
}

.header {
    color: #00b2e1;
    font-family: sans-serif;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.nav {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    width:100%;
    background: #1c3d82;
    justify-content: space-between;
}

.header button {
    padding: 30px 100px;
    background-color: #00b2e1;
    border: none;
    border-radius: 10px;
    cursor : pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #00b2e1ba;
}

.nav_links {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0 40px;
    align-content: space-between;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-align: justify;
}
.nav_links li a:hover {
    color: #00b2e1ba;
}

.nav li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00b2e1;
    text-decoration: none;
}

.events button{
    color: #cdfcff;
    font-size: 32px;
}

.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}