.logo {
    height: 75px;
    width: 193px;
    margin: 30px;
    background: #fcfffd;
    cursor: pointer;
}

.header {
    color: #00b2e1;
    font-family: sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #fcfffd;
    height: 80px;
    margin: 0;
    padding: 0;
    width:100%;
}


.nav_links {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.nav_links li {
    display: inline-block;
    padding: 0 15px;
    align-content: space-between;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-align: justify;
}
.nav_links li a:hover {
    color: #00b2e1ba;
}

.nav li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00b2e1;
    text-decoration: none;
}

.phone {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
}
.phone a {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.mail {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-left: 30px;
}
.mail a {
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.contacts {
    vertical-align: center;
}
.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


.main_block {
    block-size: 200px;
    background-image: url("img/background_blue.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 130px 20px 350px;
    text-align: center;
    line-height: 50px;
}

.main_block h2 {
    font-family: sans-serif;
    line-height: 70px;
    font-size: 62px;
    color: #fcfffd;
}

.main_block q {
    font-family: sans-serif;
    font-size: 24px;
    color: #fcfffd;
}

.btn5 {
    display: block;
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    border: 2px dashed #fcfffd;
    border-radius: 6px;
    height: 70px;
    width: 300px;
    line-height: 50px;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #fcfffd;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.btn5:hover {
    background-color: rgba(255, 255, 255, 20%);
}
.btn5:active {
    transform: scale(0.96);
}
.btn5:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.criteria h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color: #1c3e7d;
}

.criteria_list {
    text-align: center;
    display: flex;
    padding: 30px;
    margin: 30px;
    list-style: none;
}

.criteria_list li{
    display: grid;
    font-family: sans-serif;
    font-size: 20px;
    color: #00b2e1;
}
.card {
    border-radius: 50px;
    background-color: #dfeef6;
    margin: 10px;
    width: 200px;
    white-space: normal;
}
.card img {
    height: 150px;
    filter: drop-shadow(0 0 0.35rem #1c3e7d);
}
.card strong {
    font-size: 24px;
    text-decoration: underline #00b2e1;
}

.description {
    display: block;
    text-align: center;
}

.description h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    color: #1c3e7d;
}

.description img {
    border-radius: 10px;
}

.description p {
    background-color: #ebf4fb;
    margin: 50px;
    text-align: center;
    color: #1c3e7d;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 26px;
    border-radius: 10px;
}


.p1 {
    position: relative;
    margin-right: 50px;
    display: flex;
    height: 400px;
}

.p1 p{
    padding-top: 15px;
}

.p2 {
    position: relative;
    margin-left: 50px;
    display: flex;
    height: 400px;
}

.p2 p {
    padding: 70px;
}

.p3 {
    position: relative;
    margin-right: 50px;
    display: flex;
    height: 400px;
}

.p3 p {
    padding: 32px;
}