.logo {
    height: auto;
    width: 22%;
    background: #fcfffd;
    cursor: pointer;
}

.header {
    color: #00b2e1;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #fcfffd;
    height: auto;
    width:100%;
    word-wrap: normal;
}
.nav {
    height: auto;
    width: 55%;
}
.dropbtn {
    display: none;
}
.nav_links {
    width: auto;
    list-style: none;
    display: flex;
}

.nav_links li {
    flex-basis: auto;
    flex-grow: 1;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #00b2e1ba;
}

.nav li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00b2e1;
    text-decoration: none;
}


.phone a {
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.mail a {
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.contacts {
    vertical-align: center;
    white-space: nowrap;
    margin: 0 3% 0 0;
}

.contacts_down {
    display: none;
}
.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

    .main_block {
        text-align: center;
        line-height: 1em;
        padding: 0;
        position: relative;
        width: auto;
    }

.main_block img{
    width: 100%;
}

.main_block h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    line-height: 1.2em;
    font-size: 58px;
    color: #fcfffd;
}

.main_block q {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fcfffd;
}
#headline {
    display: block;
    position: absolute;
    bottom: 20%;
    width: 100%;
}
.btn5 {
    display: block;
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    border: 2px dashed #fcfffd;
    border-radius: 6px;
    height: 70px;
    width: 300px;
    line-height: 50px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fcfffd;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    appearance: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.btn5:hover {
    background-color: rgba(255, 255, 255, 20%);
}
.btn5:active {
    transform: scale(0.96);
}
.btn5:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.criteria h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #1c3e7d;
}

.criteria h4 {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #1c3e7d;
    text-indent: 50px;
    text-decoration: underline;
}

.criteria_list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-align: center;
    position: relative;
    width: 100%;
    list-style: none;
}

.criteria_list li{
    width: 14%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #00b2e1;
    margin: 1%;
    background-color: #dfeef6;
    border-radius: 50px;
}
.card footer {
    height: 100px;
}
.card img {
    width: 80%;
}
.card strong {
    font-size: 24px;
    text-decoration: underline #00b2e1;
}

.card h5 {
    width: 80%;
    margin: 0 auto 20px;
}

#cheerfulness {
    word-wrap: break-word;
}

.description {
    display: block;
}

.description h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #1c3e7d;
}

.description img {
    border-radius: 10px;
}

.description p {
    background-color: #ebf4fb;
    margin: 30px 50px;
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 26px;
    border-radius: 10px;
    text-indent: 40px;
}


.p1 {
    position: relative;
    margin-right: 50px;
    display: flex;
    height: 400px;
}

.p1 p{
    padding: 10px 20px;
}

.p2 {
    position: relative;
    margin-left: 50px;
    display: flex;
    height: 400px;
}

.p2 p {
    padding: 50px 25px;
    margin: 80px 50px;
}

.p3 {
    position: relative;
    margin-right: 50px;
    display: flex;
    height: 400px;
}

.p3 p {
    padding: 20px 25px;
    margin: 50px 50px;
}

#join {
    border: 2px dashed #0070af;
    color: #0070af;
    font-size: 24px;
    width: auto;
    margin-bottom: 50px;
}

#join:hover {
    background-color: rgba(223, 238, 246, 40%);
}
.logo_small {
    display: none;
}

@media screen and (max-width: 1000px){
    .logo {
        width: 30%;
    }
    .dropbtn {
        display: flex;
        margin: 0 auto;
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 40px;
        color: #00b2e1;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    .dropbtn:hover, .dropbtn:focus {
        background-color: #dfeef6;
        border-radius: 10px;
    }
    .nav {
        position: relative;
        display: inline-block;
    }
    .nav_links {
        display: none;
        position: absolute;
        min-width: 160px;
        background-color: white;
        z-index: 1;
        border-radius: 10px;
    }
    .nav_links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .show {display: block}

    body {
        background-image: url("img/back_1000.jpg");
        background-size: 100%;
    }

    .main_block img {
        display: none;
    }

    .main h3 {
        color: #fcfffd;
        margin-top: 5em;
    }

    #join {
        border: 2px dashed #fcfffd;
        color: #fcfffd;
    }
    #headline {
        display: block;
        position: initial;
    }
    .criteria{
        display: block;
        width: 100%;
        position: relative;
    }

    .criteria_list li {
        width: 45%;
        position: relative;
        display: inline-block;
    }
}

@media screen and (max-width: 580px) {
    .logo {
        width: 50%;
    }
    .main_block h2{
        font-size: 40px;
        line-height: 1.2em;
        margin: 2em auto;
    }
    .main_block q{
        font-size: 14px;
    }
    .nav {
        display: flex;
        justify-content: right;
    }
    .contacts {
        display: none;
    }
    .contacts_down {
        display: block;
    }
    .mail, .phone{
        display: flex;
        justify-content: center;
    }
    .mail a, .phone a {
        color: #fcfffd;
        font-weight: 450;
    }
    .dropbtn {
        justify-content: center;
        margin: 10px;
    }
}

@media screen and (min-width: 1800px){
    .nav li a, .mail a, .phone a {
        font-size: 36px;
    }

    #headline {
        bottom: 30%;
    }
    .main_block h2 {
        font-size: 104px;
    }
    .main_block q {
        font-size: 36px;
    }
}