.logo {
    height: auto;
    width: 22%;
    background: #fcfffd;
    cursor: pointer;
}

.header {
    color: #00b2e1;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #fcfffd;
    height: auto;
    width:100%;
    word-wrap: normal;
}
.nav {
    height: auto;
    width: 55%;
}
.dropbtn {
    display: none;
}
.nav_links {
    width: auto;
    list-style: none;
    display: flex;
}

.nav_links li {
    flex-basis: auto;
    flex-grow: 1;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: #00b2e1ba;
}

.nav li, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #00b2e1;
    text-decoration: none;
}


.phone a {
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 900;
}
.mail a {
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.contacts {
    vertical-align: center;
    white-space: nowrap;
    margin: 0 3% 0 0;
}

.contacts_down {
    display: none;
}
.footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

    .main_block {
        text-align: center;
        line-height: 1em;
        padding: 0;
        position: relative;
        width: auto;
    }

.main_block img{
    width: 100%;
}

.main_block h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    line-height: 1.2em;
    font-size: 58px;
    color: #fcfffd;
}

.main_block q {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fcfffd;
}
#headline {
    display: block;
    position: absolute;
    bottom: 20%;
    width: 100%;
}
.btn5 {
    display: block;
    box-sizing: border-box;
    padding: 0 4vw;
    outline: none;
    border: none;
    border-radius: 20px;
    width: auto;
    height: 11vh;
    line-height: 4vh;
    font-size: 3.5vh;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #fcfffd;
    background-color: rgba(223, 238, 246, 35%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.btn5:hover {
    background-color: rgba(223, 238, 246, 50%);
}
.btn5:active {
    transform: scale(0.96);
}
.btn5:disabled {
    pointer-events: none;
    opacity: 0.65;
}

.criteria h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #1c3e7d;
}

.criteria h4 {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #1c3e7d;
    text-indent: 50px;
    text-decoration: underline;
}

.criteria_list {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    text-align: center;
    position: relative;
    width: 100%;
    list-style: none;
}

.criteria_list li{
    width: 14%;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #00b2e1;
    margin: 1%;
    background-color: #dfeef6;
    border-radius: 50px;
}
.card footer {
    height: 100px;
}
.card img {
    width: 80%;
}
.card strong {
    font-size: 24px;
    text-decoration: underline #00b2e1;
}

.card h5 {
    width: 80%;
    margin: 0 auto 20px;
}

#cheerfulness {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #1c3e7d;
}

.description p {
    background-color: #ebf4fb;
    margin: 3% 5%;
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 1em;
    text-indent: 40px;
}

.p1, .p2, .p3 {
    position: relative;
    margin: 3%;
    display: flex;
    align-items: center;
}

.p1 p, .p2 p, .p3 p{
    text-align: justify;
    padding: 2% 4%;
    line-height: 1.3em;
}
.description img{
    float:left;
    border-radius: 1em;
    width:40vw;
    height:100%;
}


#join {
    color: #0070af;
    width: auto;
    margin-bottom: 50px;
}

.logo_small {
    display: none;
}

table {

    display: grid;
    border-collapse: collapse;
    min-width: 90%;
    margin: auto 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    grid-template-columns:
    minmax(150px, 3fr)
    minmax(150px, 5fr)
    minmax(150px, 4fr)
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background: #1c3e7d;
    text-align: left;
    font-weight: normal;
    font-size: 1.2em;
    color: #fcfffd;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1c3e7d;
}

tr:nth-child(even) td {
    background: #ebf4fb;
    color: #1c3e7d;
}

.act {
    background-color: rgba(223, 238, 246, 35%);
    padding: 0 1vw;
    outline: none;
    border: none;
    border-radius: 5px;
}

.header-img {
    display: contents;
}

.events_input {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    background: #dfeef6;
    border-radius: 0.5rem;
    border: none;
    height: 4vh;
    width: 50vw;
    outline: none;
    box-shadow: none;
    margin: 2rem auto;
}
.events_btn {
    background-color: #1c3e7d;
    height: 6vh;
    font-size: 2.5vh;
}
.events_btn:hover{
    color: #1c3e7d;
}

.events_list {
    margin: 3% 5%;
}

.events_item{
    display: block;
    margin: 20px auto;
    color: #1c3e7d;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 1em;
    background-color: #ebf4fb;
}

.events_item_header{
    display: inline-block;
    width: 10%;
    padding: 15px;
    margin-left: 20px;
}
.events_item_text{
    display: inline-block;
    width: 40%;
}

.events_btn_delete{
    cursor: pointer;
    width: 10%;
    display: inline-block;
    padding-top: 30px;
    margin-right: 20px;
    float: right;
}
